<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.0" targetFramework="wpa81" />
  <package id="Caliburn.Micro.Core" version="3.0.0" targetFramework="wpa81" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.1.0" targetFramework="wpa81" />
  <package id="FubarCoder.RestSharp.Portable" version="2.4.5" targetFramework="wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wpa81" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="wpa81" />
  <package id="Validation" version="2.2.8" targetFramework="wpa81" />
  <package id="Xamarin.Forms" version="2.2.0.45" targetFramework="wpa81" />
</packages>